<div class="clock-container pomodoro-timer" [ngClass]="state.mode">
  <!-- Botões -->
  <div class="controls">
    <button (click)="startPause()">
      {{ state.running ? '⏸️ Pausar' : '▶️ Iniciar' }}
    </button>
    <button (click)="reset()">🔄 Resetar</button>
  </div>

  

  <div class="pomodoro-flip-container">
  <div class="pomodoro-flip-section">
    <!-- Minutos -->
    <div class="pomodoro-flip-unit" *ngFor="let char of [formattedTime[0], formattedTime[1]]">
      <div class="pomodoro-flip-card">
        <div class="pomodoro-flip-card-front">{{ char }}</div>
      </div>
    </div>

    <!-- Separador -->
    <div class="pomodoro-flip-separator">:</div>

    <!-- Segundos -->
    <div class="pomodoro-flip-unit" *ngFor="let char of [formattedTime[3], formattedTime[4]]">
      <div class="pomodoro-flip-card">
        <div class="pomodoro-flip-card-front">{{ char }}</div>
      </div>
    </div>

    <!-- Separador -->
    <div class="pomodoro-flip-separator small-separator">:</div>

    <!-- Centésimos -->
    <div class="pomodoro-flip-unit small seconds-inline" *ngFor="let char of [formattedTime[6], formattedTime[7]]">
      <div class="pomodoro-flip-card">
        <div class="pomodoro-flip-card-front">{{ char }}</div>
      </div>
    </div>
  </div>
  </div>
  <div class="pomodoro-info">
    <h2>{{ label }}</h2>

  <!-- Ciclo -->
  <p>Ciclos concluídos: {{ state.cycleCount % 4 }} / 4</p>
  </div>
</div>
